.webinars{
  padding: 80px 0;
  &__title{
    @extend %title;
  }
  &__slider{

  }
  &__slider-item{
    padding: 30px 25px;
  }
  &__slider-imgbox{
    flex: 1 1 auto;
    margin-bottom: 10px;
  }
  &__slider-box{
    max-width: 45%;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    order: -1;
    img{
      max-width: 195px;
      border-radius: 20px;
    }
  }
  &__slider-link{
    margin-bottom: 11px;
    @extend %accent-link;
  }
  &__slider-info{
    display: flex;
    flex-direction: column;
    max-width: 57%;
    padding: 0;
  }
  &__slider-text{
    flex: 1 1 auto;
  }
}