<section class="about">
  <div class="container">
    <div class="about__title">
      О школе
    </div>
    <div class="about__inner">
      <p class="about__text">
        Школа психологічної пактики Ганни Дердюк існує вже 5-ть років. Це перший проект, який розрахований не лише на професіоналів, але і на студентів останніх курсів та випускників психологічних факультетів, а також молодих спеціалістов.
      </p>
      <a class="about__link" href="#">
        Подробнее о школе
      </a>
    </div>
  </div>
</section>