<section class="benefits">
  <div class="container">
    <h3 class="benefits__title">
      Чем курс будет полезен
    </h3>
    <div class="benefits__inner">
      <div class="benefits__item">
        <div class="benefits__item-box">
          <svg class="benefits__item-icon">
            <use xlink:href="images/icons/sprite.svg#clock"></use>
          </svg>
        </div>
        <h5 class="benefits__item-title">
          152 часа практики
        </h5>
        <p class="benefits__item-text">
          На курсе практично изучают простые и сложные техники консультирования и основы гештальт-терапии
        </p>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-box">
          <svg class="benefits__item-icon">
            <use xlink:href="images/icons/sprite.svg#medal"></use>
          </svg>
        </div>
        <h5 class="benefits__item-title">
          Получите государственный сертификат
        </h5>
        <p class="benefits__item-text">
          После завершения курса вы получите сертификаты от Академии Педагогических Наук про повышение квалификации в психологическом консультировании и сертификат от Школы, который приравнивается І ступене гештальт-терапии
        </p>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-box">
          <svg class="benefits__item-icon">
            <use xlink:href="images/icons/sprite.svg#cap"></use>
          </svg>
        </div>
        <h5 class="benefits__item-title">
          Углубленный практический опыт
        </h5>
        <p class="benefits__item-text">
          Именно благодаря практическому опыту вся теория легко усваивается и оплачивается на практике        
        </p>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-box">
          <svg class="benefits__item-icon">
            <use xlink:href="images/icons/sprite.svg#arrow-up"></use>
          </svg>
        </div>
        <h5 class="benefits__item-title">
          Принцип техника за техникой
        </h5>
        <p class="benefits__item-text">
          Каждая новая техника накладывается на предыдущую, как бусинки на нить. Пройденный вами материал на нашем курсе всегда повторяется, а ваша практическая работа усложняется, закрепляя ваши знания
        </p>
      </div>
    </div>
  </div>
</section>