<section class="blog" id="blog">
  <div class="container">
    <div class="blog__title">
      Блог
    </div>
    <div class="blog__inner">
      <div class="blog__item blog__article">
        <a class="blog__article-link" href="#">
          <img class="blog__img" src="images/content/blog-big.jpg" alt="">
        </a>
        <time class="blog__date">
          24 Сентября
        </time>
        <h5 class="blog__item-title">
          Онтогносеологические аспекты трансперсональной голосовой терапии
        </h5>
        <p class="blog__text">
          В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне кажется,
          в будущем, наши правнуки будут смотреть на наше время, с усмешкой рассматривая лица.
        </p>
        <a class="blog__item-link" href="#">
          Читать дальше
        </a>
      </div>
      <div class="blog__item">
        <div class="blog__box">
          <a class="blog__boxlink" href="#">
            <img class="blog__thumb-img" src="images/content/blog-thumb-1.jpg" alt="">
          </a>
          <div class="blog__info">
            <time class="blog__date">
              24 Сентября
            </time>
            <h5 class="blog__item-title">
              Онтогносеологические аспекты голосовой терапии
            </h5>
            <a class="blog__item-link" href="#">
              Читать дальше
            </a>
          </div>
        </div>
        <div class="blog__box">
          <a class="blog__boxlink" href="#">
            <img class="blog__thumb-img" src="images/content/blog-thumb-2.jpg" alt="">
          </a>
          <div class="blog__info">
            <time class="blog__date">
              24 Сентября
            </time>
            <h5 class="blog__item-title">
              Онтогносеологические аспекты голосовой терапии
            </h5>
            <a class="blog__item-link" href="#">
              Читать дальше
            </a>
          </div>
        </div>
        <div class="blog__box">
          <a class="blog__boxlink" href="#">
            <img class="blog__thumb-img" src="images/content/blog-thumb-3.jpg" alt="">
          </a>
          <div class="blog__info">
            <time class="blog__date">
              24 Сентября
            </time>
            <h5 class="blog__item-title">
              Онтогносеологические аспекты голосовой терапии
            </h5>
            <a class="blog__item-link" href="#">
              Читать дальше
            </a>
          </div>
        </div>
      </div>
    </div>
    <a class="blog__link" href="#">
      Все статьи
    </a>
  </div>
</section>