<section class="course">
  <div class="container">
    <h3 class="course__title">
      Видеокурсы
    </h3>
    <div class="course-slider">
      <div class="course-slider__box">
        <div class="course-slider__item">
          <div class="course-slider__info">
            <h4 class="course-slider__item-title">
              Основы психологии.
              Экспресс-курс
            </h4>
            <div class="course-slider__item-box">
              <div class="course-slider__item-info">
                5 недель
              </div>
              <div class="course-slider__item-info course-slider__item-info--list">
                40 занятий
              </div>
            </div>
            <p class="course-slider__item-text">
              В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
              кажется, в будущем, наши правнуки будут смотреть на наше время, с усмешкой…
            </p>
            <div class="info-box">
              <div class="info-box__price">
                5000 грн.
              </div>
              <a class="info-box__link" href="#">
                В корзину
              </a>
            </div>
          </div>
          <div class="course-slider__item-imgbox">
            <img src="images/content/couch.jpg" alt="">
            <a class="course-slider__link" href="#"></a>
            <span class="course-slider__link-text">
              Подробнее
            </span>
          </div>
        </div>
      </div>
      <div class="course-slider__box">
        <div class="course-slider__item">
          <div class="course-slider__info">
            <h4 class="course-slider__item-title">
              Основы психологии.
              Экспресс-курс
            </h4>
            <div class="course-slider__item-box">
              <div class="course-slider__item-info">
                5 недель
              </div>
              <div class="course-slider__item-info course-slider__item-info--list">
                40 занятий
              </div>
            </div>
            <p class="course-slider__item-text">
              В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
              кажется, в будущем, наши правнуки будут смотреть на наше время, с усмешкой…
            </p>
            <div class="info-box">
              <div class="info-box__price">
                5000 грн.
              </div>
              <a class="info-box__link" href="#">
                В корзину
              </a>
            </div>
          </div>
          <div class="course-slider__item-imgbox">
            <img src="images/content/couch.jpg" alt="">
            <a class="course-slider__link" href="#"></a>
            <span class="course-slider__link-text">
              Подробнее
            </span>
          </div>
        </div>
      </div>
      <div class="course-slider__box">
        <div class="course-slider__item">
          <div class="course-slider__info">
            <h4 class="course-slider__item-title">
              Основы психологии.
              Экспресс-курс
            </h4>
            <div class="course-slider__item-box">
              <div class="course-slider__item-info">
                5 недель
              </div>
              <div class="course-slider__item-info course-slider__item-info--list">
                40 занятий
              </div>
            </div>
            <p class="course-slider__item-text">
              В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
              кажется, в будущем, наши правнуки будут смотреть на наше время, с усмешкой…
            </p>
            <div class="info-box">
              <div class="info-box__price">
                5000 грн.
              </div>
              <a class="info-box__link" href="#">
                В корзину
              </a>
            </div>
          </div>
          <div class="course-slider__item-imgbox">
            <img src="images/content/couch.jpg" alt="">
            <a class="course-slider__link" href="#"></a>
            <span class="course-slider__link-text">
              Подробнее
            </span>
          </div>
        </div>
      </div>
      <div class="course-slider__box">
        <div class="course-slider__item">
          <div class="course-slider__info">
            <h4 class="course-slider__item-title">
              Основы психологии.
              Экспресс-курс
            </h4>
            <div class="course-slider__item-box">
              <div class="course-slider__item-info">
                5 недель
              </div>
              <div class="course-slider__item-info course-slider__item-info--list">
                40 занятий
              </div>
            </div>
            <p class="course-slider__item-text">
              В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
              кажется, в будущем, наши правнуки будут смотреть на наше время, с усмешкой…
            </p>
            <div class="info-box">
              <div class="info-box__price">
                5000 грн.
              </div>
              <a class="info-box__link" href="#">
                В корзину
              </a>
            </div>
          </div>
          <div class="course-slider__item-imgbox">
            <img src="images/content/couch.jpg" alt="">
            <a class="course-slider__link" href="#"></a>
            <span class="course-slider__link-text">
              Подробнее
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-control"></div>
  </div>
</section>