<div class="feedback">
  <div class="container">
    <div class="feedback__inner">
      <div class="feedback__info">
        <span class="feedback__name">
          Марина, 46 лет
        </span>
        <span class="feedback__pos">
          Экономист
        </span>
        <p class="feedback__text feedback-text">
          В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне кажется, в будущем, наши правнуки будут смотреть на наше время, с усмешкой рассматривая лица. Начало 21 века - одинаковые, похожие на барби, женщины, наклеенные ресницы, вздутые губы. Прослушала курс. Не всегда исполняла все по правилам, но мне нравится естественный результат: я выгляжу лучше.
        </p>
      </div>
      <div class="feedback__video">
        <img src="images/content/feedback.jpg" alt="">
        <a class="play" href="https://www.youtube.com/watch?v=y-CbBPnE_pw" data-fancybox>
          <svg>
            <use xlink:href="images/icons/sprite.svg#play"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>