<section class="first" id="first">
  <div class="first__container-fluid container-fluid" style="background-image: url('images/content/first-bg.png');">
    <div class="container">
      <div class="first__inner">
        <h1 class="first__title">
          Повний Курс
          "Психологічне консультування"
        </h1>
        <p class="first__text">
          це навчання практичним навикам консультування з державною сертифікацією від Академії Педагогічних Наук
        </p>
        <div class="first__box info-box">
          <div class="first__price info-box__price">
            5000 грн.
          </div>
          <a class="first__link info-box__link" href="#">
            В корзину
          </a>
        </div>
        <div class="first__info">
          <p class="first__info-text">
            До начала события осталось:
          </p>
          <div id="countdown_dashboard" class="shadow countdown_dashboard">
            <div class="dash days_dash">
              <div class="digit">0</div>
              <div class="digit">6</div>
              <span class="dash_title">days</span>
            </div>
            <div class="dash hours_dash">
              <div class="digit">1</div>
              <div class="digit">5</div>
              <span class="dash_title">hours</span>
            </div>
            <div class="dash minutes_dash">
              <div class="digit">0</div>
              <div class="digit">4</div>
              <span class="dash_title">minutes</span>
            </div>
            <div class="dash seconds_dash">
              <div class="digit">3</div>
              <div class="digit">3</div>
              <span class="dash_title">seconds</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <a class="play" href="https://www.youtube.com/watch?v=y-CbBPnE_pw" data-fancybox>
          <svg>
            <use xlink:href="images/icons/mono/spriteMono.svg#play"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>