<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__item">
        <h6 class="footer__title">
          Видеокурсы
        </h6>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Психологічне консультування
            </a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Психологічне консультування
            </a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Психологічне консультування
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h6 class="footer__title">
          Вебинары
        </h6>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Психологічне консультування
            </a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Психологічне консультування
            </a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Психологічне консультування
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h6 class="footer__title">
          Программы
        </h6>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Психологічне консультування
            </a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Психологічне консультування
            </a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Психологічне консультування
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h6 class="footer__title">
          Информация
        </h6>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              О школе
            </a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Отзывы
            </a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">
              Блог
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__copy">
    <div class="container">
      <div class="footer__copy-inner">
        <p class="footer__text">
          © 2011–2020 Школа Психологической практики Анны Дердюк
        </p>
        <p class="footer__text">
          Все права защищены.
        </p>
      </div>
    </div>
  </div>
</footer>