<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo header__logo" href="#">
        <img src="images/logo.png" alt="">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link menu__list-link--active" href="#first">
              Главная
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#course">
              Видеокурсы
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#webinars">
              Вебинары
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#program">
              Программы
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#reviews">
              Отзывы
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#about">
              О школе
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#blog">
              Блог
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__links">
        <a class="header__link" href="#">Войти</a>
        <a class="header__link-accent" href="#">Начать учиться</a>
      </div>
    </div>
  </div>
</header>