<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo header__logo" href="#">
        <img src="images/idd.jpg" alt="">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link">
              item
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link">
              item
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link">
              item
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link">
              item
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>