<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews__title">
      Отзывы
    </div>
    <div class="slider reviews-slider">
      <div class="slider__box">
        <div class="reviews-slider__item">
          <div class="reviews-slider__info">
            <img class="reviews-slider__img" src="images/content/reviews.jpg" alt="">
            <div class="reviews-slider__text">
              <span class="reviews-slider__name">
                Марина, 46 лет
              </span>
              <span class="reviews-slider__pos">
                Экономист
              </span>
            </div>
          </div>
          <blockquote class="feedback-text">
            В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
            кажется,
            в будущем, наши правнуки будут смотреть на наше время, с усмешкой рассматривая лица. Начало 21 века -
            одинаковые, похожие на барби, женщины, наклеенные ресницы, вздутые губы. Прослушала курс. Не всегда
            исполняла
            все по правилам, но мне нравится естественный результат: я выгляжу лучше.
          </blockquote>
        </div>
      </div>
      <div class="slider__box">
        <div class="reviews-slider__item">
          <div class="reviews-slider__info">
            <img class="reviews-slider__img" src="images/content/reviews.jpg" alt="">
            <div class="reviews-slider__text">
              <span class="reviews-slider__name">
                Марина, 46 лет
              </span>
              <span class="reviews-slider__pos">
                Экономист
              </span>
            </div>
          </div>
          <blockquote class="feedback-text">
            В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
            кажется,
            в будущем, наши правнуки будут смотреть на наше время, с усмешкой рассматривая лица. Начало 21 века -
            одинаковые, похожие на барби, женщины, наклеенные ресницы, вздутые губы. Прослушала курс. Не всегда
            исполняла
            все по правилам, но мне нравится естественный результат: я выгляжу лучше.
          </blockquote>
        </div>
      </div>
      <div class="slider__box">
        <div class="reviews-slider__item">
          <div class="reviews-slider__info">
            <img class="reviews-slider__img" src="images/content/reviews.jpg" alt="">
            <div class="reviews-slider__text">
              <span class="reviews-slider__name">
                Марина, 46 лет
              </span>
              <span class="reviews-slider__pos">
                Экономист
              </span>
            </div>
          </div>
          <blockquote class="feedback-text">
            В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
            кажется,
            в будущем, наши правнуки будут смотреть на наше время, с усмешкой рассматривая лица. Начало 21 века -
            одинаковые, похожие на барби, женщины, наклеенные ресницы, вздутые губы. Прослушала курс. Не всегда
            исполняла
            все по правилам, но мне нравится естественный результат: я выгляжу лучше.
          </blockquote>
        </div>
      </div>
      <div class="slider__box">
        <div class="reviews-slider__item">
          <div class="reviews-slider__info">
            <img class="reviews-slider__img" src="images/content/reviews.jpg" alt="">
            <div class="reviews-slider__text">
              <span class="reviews-slider__name">
                Марина, 46 лет
              </span>
              <span class="reviews-slider__pos">
                Экономист
              </span>
            </div>
          </div>
          <blockquote class="feedback-text">
            В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
            кажется,
            в будущем, наши правнуки будут смотреть на наше время, с усмешкой рассматривая лица. Начало 21 века -
            одинаковые, похожие на барби, женщины, наклеенные ресницы, вздутые губы. Прослушала курс. Не всегда
            исполняла
            все по правилам, но мне нравится естественный результат: я выгляжу лучше.
          </blockquote>
        </div>
      </div>
      <div class="slider__box">
        <div class="reviews-slider__item">
          <div class="reviews-slider__info">
            <img class="reviews-slider__img" src="images/content/reviews.jpg" alt="">
            <div class="reviews-slider__text">
              <span class="reviews-slider__name">
                Марина, 46 лет
              </span>
              <span class="reviews-slider__pos">
                Экономист
              </span>
            </div>
          </div>
          <blockquote class="feedback-text">
            В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
            кажется,
            в будущем, наши правнуки будут смотреть на наше время, с усмешкой рассматривая лица. Начало 21 века -
            одинаковые, похожие на барби, женщины, наклеенные ресницы, вздутые губы. Прослушала курс. Не всегда
            исполняла
            все по правилам, но мне нравится естественный результат: я выгляжу лучше.
          </blockquote>
        </div>
      </div>
    </div>
    <div class="slider-control">
    </div>
  </div>
</section>