<section class="webinars">
  <div class="container">
    <h3 class="webinars__title">
      Вебинары
    </h3>
    <div class="slider webinars__slider">
      <div class="slider__box">
        <div class="slider__item webinars__slider-item">
          <div class="slider__info webinars__slider-info">
            <h4 class="slider__item-title">
              Основы психологии.
              Экспресс-курс
            </h4>
            <div class="slider__item-box">
              <div class="slider__item-info">
                5 недель
              </div>
              <div class="slider__item-info slider__item-info--list">
                40 занятий
              </div>
            </div>
            <p class="slider__item-text webinars__slider-text">
              В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
              кажется, в будущем, наши правнуки будут смотреть на наше время, с усмешкой…
            </p>
            <div class="info-box">
              <div class="info-box__price">
                5000 грн.
              </div>
              <a class="info-box__link" href="#">
                В корзину
              </a>
            </div>
          </div>
          <div class="webinars__slider-box">
            <div class="webinars__slider-imgbox">
              <img src="images/content/couch.jpg" alt="">
            </div>
            <a class="webinars__slider-link" href="#">
              Узнать подробее
            </a>
          </div>
        </div>
      </div>
      <div class="slider__box">
        <div class="slider__item webinars__slider-item">
          <div class="slider__info webinars__slider-info">
            <h4 class="slider__item-title">
              Основы психологии.
              Экспресс-курс
            </h4>
            <div class="slider__item-box">
              <div class="slider__item-info">
                5 недель
              </div>
              <div class="slider__item-info slider__item-info--list">
                40 занятий
              </div>
            </div>
            <p class="slider__item-text webinars__slider-text">
              В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
              кажется, в будущем, наши правнуки будут смотреть на наше время, с усмешкой…
            </p>
            <div class="info-box">
              <div class="info-box__price">
                5000 грн.
              </div>
              <a class="info-box__link" href="#">
                В корзину
              </a>
            </div>
          </div>
          <div class="webinars__slider-box">
            <div class="webinars__slider-imgbox">
              <img src="images/content/couch.jpg" alt="">
            </div>
            <a class="webinars__slider-link" href="#">
              Узнать подробее
            </a>
          </div>
        </div>
      </div>
      <div class="slider__box">
        <div class="slider__item webinars__slider-item">
          <div class="slider__info webinars__slider-info">
            <h4 class="slider__item-title">
              Основы психологии.
              Экспресс-курс
            </h4>
            <div class="slider__item-box">
              <div class="slider__item-info">
                5 недель
              </div>
              <div class="slider__item-info slider__item-info--list">
                40 занятий
              </div>
            </div>
            <p class="slider__item-text webinars__slider-text">
              В моду вошёл спорт, стройное тело, здоровое питание, здоровый образ жизни и естественное лицо. Мне
              кажется, в будущем, наши правнуки будут смотреть на наше время, с усмешкой…
            </p>
            <div class="info-box">
              <div class="info-box__price">
                5000 грн.
              </div>
              <a class="info-box__link" href="#">
                В корзину
              </a>
            </div>
          </div>
          <div class="webinars__slider-box">
            <div class="webinars__slider-imgbox">
              <img src="images/content/couch.jpg" alt="">
            </div>
            <a class="webinars__slider-link" href="#">
              Узнать подробее
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-control">
    </div>
  </div>
</section>